streamlit
chromadb
langchain
langchain-community
langchain-core
langchain-text-splitters
langgraph
pymupdf
pytesseract
Pillow
opencv-python
transformers
torch
pandas
numpy
pydantic
sentence-transformers
python-multipart
python-dotenv
